:root {
    --primary-color: #007bff; /* Cor primária ajustada para um azul mais vibrante */
    --text-color: #FFF;
    --sidebar-bg-color: #343a40; /* Atualizado para um cinza escuro mais sofisticado */
    --hover-bg-color: #495057; /* Cor de hover atualizada para melhor contraste */
}

body {
    font-family: 'Poppins', sans-serif; /* Alterando para uma fonte mais moderna */
    margin: 0;
    padding: 0;
    background-color: #dee2e6;
}
.sidebar {
    position: fixed; /* Garante que a sidebar seja posicionada relativamente à viewport */
    height: 100%;
    width: 250px;
    top: 0;
    left: 0;
    background-color: var(--sidebar-bg-color);
    padding-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-right: 1px solid #dee2e6;
    overflow: auto;
    z-index: 1000; /* Valor de z-index alto para garantir que esteja sobre outros elementos */
}


.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    transition: background-color 0.3s, padding-left 0.3s;
}

.sidebar a:hover {
    background-color: var(--hover-bg-color);
    padding-left: 30px;
}

.sidebar a.active {
    background-color: var(--primary-color);
    color: #ffffff;
}
.theme-selector {
    position: absolute; /* Mantém no final da sidebar */
    bottom: 20px; /* Alinha no final da sidebar */
    left: 0;
    width: 100%;
    display: flex; /* Permite o layout lado a lado dos botões */
    justify-content: space-around; /* Espaçamento entre os botões */
    padding: 10px 0; /* Padding no topo e no fundo do seletor */
}

.theme-selector button {
    flex: 1; /* Faz com que os botões compartilhem o espaço disponível igualmente */
    background-color: var(--primary-color); /* Cor de fundo inicial */
    color: var(--text-color);
    padding: 10px 5px; /* Ajusta o padding para se adequar ao layout lado a lado */
    margin: 0 10px; /* Margem lateral para separar os botões */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px; /* Arredondamento das bordas */
}

/* Botão Claro com uma cor específica */
.theme-selector button:first-child {
    background-color: #f8f9fa; /* Cor clara */
    color: #343a40; /* Texto escuro para contraste */
}

/* Botão Escuro com uma cor específica */
.theme-selector button:last-child {
    background-color: #343a40; /* Cor escura */
    color: #f8f9fa; /* Texto claro para contraste */
}

.theme-selector button:hover {
    padding-left: 10px; /* Mantém o efeito de deslizamento sutil */
}


.content {
    margin-left: 270px;
    padding: 20px;
    transition: margin-left 0.5s;
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 100px;
    }
    
    .sidebar a {
        text-align: center;
        font-size: 16px;
        padding: 10px;
    }
    
    .content {
        margin-left: 120px;
    }

    .theme-selector {
        padding: 0 10px; /* Ajuste para a sidebar mais estreita */
    }
}

.filter-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
    transition: background-color 0.2s;
}

.filter-btn:hover {
    background-color: #0056b3;
}

.item {
    display: inline-block;
    margin: 10px;
}

.item img {
    width: 100px; 
    height: auto;
    border-radius: 5px;
}

.intro-rectangle {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--primary-color); /* Utiliza a cor primária */
    color: #fff; /* Texto em branco para contraste */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Sombra leve */
    animation: slideIn 1s ease-out forwards; /* Animação definida abaixo */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.animated-box {
    width: 200px;
    height: 100px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    position: absolute; /* Posicionamento absoluto para centralizar */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste fino para centralizar exatamente */
}
/* Banner com o título */
.parallax-title-container {
    width: 100%;
    height: 300px; /* Ajusta a altura do banner conforme necessário */
    background-image: url('imagem1.jpg'); /* Insira o caminho da sua imagem */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Importante se você precisar de posicionamento relativo para elementos internos */
    margin-bottom: 30px; /* Espaço entre o banner e os botões de filtro */
}

.parallax-title {
    color: white;
    font-size: 48px; /* Ajusta o tamanho da fonte conforme desejado */
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5); /* Para melhorar a legibilidade */
    padding-left: 250px; /* Puxa o texto para a direita */
    box-sizing: border-box; /* Garante que o padding faça parte da largura total */
}

/* Ajustes para os botões de filtro para criar espaço entre eles e o banner */
#galleryFilters {
    display: flex;
    justify-content: center; /* Centraliza os itens no container */
    flex-wrap: wrap; /* Permite que os botões envolvam em múltiplas linhas se necessário */
    padding-left: 250px; /* Ajusta conforme a largura da sua sidebar */
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.filter-btn {
    margin: 5px; /* Espaçamento entre os botões */
    padding: 10px 20px; /* Padding interno para os botões */
    /* Restante do seu CSS para os .filter-btn */
}


/* As demais regras CSS permanecem inalteradas */




