:root {
    /* Variáveis para o tema claro */
    --primary-color: #f5f5f6; /* Exemplo: Azul */
    --text-color: #000; /* Exemplo: Preto */
    --sidebar-bg-color: #5f6363; /* Exemplo: Cinza Escuro */
    --hover-bg-color: #1b1515; /* Exemplo: Cinza mais Escuro */
}

body.dark-theme {
    /* Variáveis para o tema escuro */
    --primary-color: #333; /* Exemplo: Cinza mais Escuro */
    --text-color: #fff; /* Exemplo: Branco */
    --sidebar-bg-color: #222; /* Exemplo: Quase Preto */
    --hover-bg-color: #555; /* Exemplo: Cinza Médio */
}


body {
    font-family: 'Poppins', sans-serif; /* Alterando para uma fonte mais moderna */
    margin: 0;
    padding: 0;
    background-color: #dee2e6;
}
    
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Esconde a sidebar fora da tela */
    height: 100%;
    z-index: 1000;
    transition: left 0.3s;
}

/* Classe para quando a sidebar estiver visível */
.sidebar.open {
    left: 0;
}

.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: var(--text-color);
    display: block;
    transition: background-color 0.3s, padding-left 0.3s;
}

.sidebar a:hover, .sidebar a.active {
    background-color: var(--hover-bg-color);
    color: #ffffff;
    padding-left: 30px; /* Ajuste para efeito ao passar o mouse e quando ativo */
}
.content {
    margin-left: 250px; /* Ajuste para o conteúdo principal não se sobrepor à barra lateral */
    padding: 20px;
    overflow: auto;
}

/* Banner com o título */
.parallax-title-container {
    width: 100%;
    height: 300px; /* Ajuste conforme necessário */
    background-image: url('imagem1.jpg'); /* Insira o caminho da sua imagem */
    background-color: #000; /* Cor de fallback */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    /* Gradiente sobre a imagem */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('imagem1.jpg');
}

.parallax-title {
    color: white;
    font-size: 48px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5); /* Melhora a legibilidade */
    padding-left: 250px;
    box-sizing: border-box;
    /* Animação de entrada */
    animation: slideIn 1.5s ease-out;
}

/* Animação de entrada para o título */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Ajustes para os botões de filtro para criar espaço entre eles e o banner */
#galleryFilters {
    display: flex;
    justify-content: center; /* Centraliza os itens no container */
    flex-wrap: wrap; /* Permite que os botões envolvam em múltiplas linhas se necessário */
    padding-left: 250px; /* Ajusta conforme a largura da sua sidebar */
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.filter-btn {
    margin: 5px; /* Espaçamento entre os botões */
    padding: 10px 20px; /* Padding interno para os botões */
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    color: var(--text-color);
    transition: background-color 0.2s, color 0.2s;
    border-radius: 5px; /* Arredondando as bordas */
}

#galleryItems {
    display: flex; /* Exibe os itens da galeria em uma linha */
    flex-wrap: wrap; /* Permite que os itens da galeria envolvam para uma nova linha conforme necessário */
    padding-left: 15%;
}

.item {
    flex: 0 0 30%; /* Cada item ocupará 25% da largura disponível, exibindo 4 itens por linha */
    padding: 10px; /* Adicionando um espaçamento entre os itens */
    box-sizing: border-box; /* Garante que o padding faça parte da largura total */
}

.item img {
    width: 100%; /* Ajustando a largura da imagem para ocupar todo o espaço disponível */
    height: auto;
    border-radius: 5%;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%; /* Torna a sidebar um menu horizontal ou um menu hamburguer para dispositivos móveis */
        height: auto;
        position: relative;
    }

    .sidebar a, .parallax-title {
        padding-left: 0; /* Remove o padding esquerdo para todos os links e o título parallax */
    }

    #galleryFilters {
        padding-left: 0; /* Remove o padding esquerdo adicional */
    }

    .filter-btn, .item {
        flex-basis: 100%; /* Faz com que cada item e botão de filtro ocupe a largura total */
    }
}

@media screen and (max-width: 480px) {
    /* Adaptações específicas para smartphones */
    .parallax-title {
        font-size: 24px; /* Reduz o tamanho da fonte para adequação em telas menores */
    }
}

.theme-switch-wrapper {
    position: absolute;
    margin: 10px;
    bottom: 10px;
    width: 100%;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hamburger-menu button {
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    top: 20px;
    left: 20px;
    z-index: 2000; /* Certifique-se de que está acima de outros elementos */
}

.hamburger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: blue;
    transition: 0.4s;
}

/* Animação para o ícone quando o menu é aberto */
.change .bar1 {transform: rotate(-45deg) translate(-5px, 6px);}
.change .bar2 {opacity: 0;}
.change .bar3 {transform: rotate(45deg) translate(-5px, -6px);}

.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Esconde a sidebar fora da tela */
    height: 100%;
    transition: left 0.3s, background-color 0.3s; /* Adiciona transição à cor de fundo */
    z-index: 1000;
}

.sidebar.open {
    left: 0;
    background-color: #f4f4f4; /* Ou qualquer outra cor ou imagem de fundo */
}
